body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(150deg,#607274, #FAEED1);
    padding: 10px;
}

.todo {
    width: 100%;
    max-width: 540px;
    background-color: #DED0B6;
    margin: 100px auto 20px;
    padding: 25px 30px 70px;
    border-radius: 10px;
    border: 1px solid #B2A59B;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.todo h1 {
    color: #607274;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    font-size: 40px;
}

.todo img {
    width: 40px;
    margin-left: 12px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FAEED1;
    border-radius: 30px;
    padding-left: 10px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 18px;
}

button {
    border: none;
    outline: none; 
    background: #607274;
    padding: 16px 50px;
    color: #FAEED1;
    font-size: 18px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 18px;
    padding: 15px 5px 15px 45px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: #607274;
}

ul li::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(./images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 1px;
}

ul li.checked {
    color: #B2A59B;
   text-decoration: line-through; 
}

ul li.checked::before {
    background-color: #607274;
    background-repeat:no-repeat;
    background-image: url(./images/check-solid.png);
    background-size: 1rem;
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #607274;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #607274;
    color: white;
}